@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для кода */
code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  color: #772ce8;
}

/* Стили для блоков кода */
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}

/* Сброс всех дефолтных стилей для blockquote */
blockquote {
  border-left: 4px solid #772ce8;
  padding-left: 0.5em;
  color: #772ce8;
}

/* Стили для ссылок */
a {
  color: #772ce8;
  text-decoration: underline;
}

a:hover {
  color: #772ce8;
}

.markdown img {
  max-width: 40%;
  /* Ограничивает ширину изображения */
  height: auto;
  /* Сохраняет пропорции изображения */
}

.glow-purple {
  box-shadow: 0 0 2px #772ce8, 0 0 4px #772ce8, 0 0 8px #772ce8;
  transition: box-shadow 0.3s ease-in-out;
}

/* Скрыть полосу прокрутки для всех браузеров */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  /* Firefox */
}

ul {
  list-style: none;
  /* Убираем стандартные маркеры списка */
  padding: 0;
  /* Убираем отступы у списка */
}

li {
  position: relative;
  /* Устанавливаем относительное позиционирование для li */
  padding-left: 10px;
  /* Добавляем отступ слева для текста */
  line-height: 1.5;
  /* Устанавливаем высоту строки */
  margin-top: 10px;
  /* Добавляем отступ сверху для визуального разделения элементов */
}

li::before {
  content: "";
  /* Псевдоэлемент не содержит текста */
  position: absolute;
  /* Абсолютное позиционирование */
  left: 0;
  /* Позиционируем кружок слева */
  top: 0;
  /* Позиционируем кружок вверху */
  transform: translateY(270%);
  /* Сдвигаем кружок вниз на половину высоты строки */
  width: 4px;
  /* Ширина кружка */
  height: 4px;
  /* Высота кружка */
  background-color: #772ce8;
  /* Цвет кружка */
  border-radius: 100%;
  /* Делаем кружок */
}